<div class="appointment-booking-widget">
  <!-- Replace the below embed code with the actual third-party booking widget code -->
  <iframe src="https://thirdpartybooking.com/widget?shop={{ shop.domain }}" width="100%" height="600" frameborder="0" title="Book an Appointment"></iframe>
</div>
