<div class="forum-widget">
  <!-- Embed code for the community forum (e.g., Discourse embed) -->
  <script type="text/javascript">
    // Example: Discourse embed script
    (function() {
      var d = document.createElement("script"); d.type = "text/javascript"; d.async = true;
      d.src = "https://forum.example.com/javascripts/embed.js";
      (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(d);
    })();
  </script>
</div>
