/* styles.css */

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */

/* Animation for Correct Answer */
@keyframes correctAnswer {
    0% { background-color: #10B981; }
    100% { background-color: #6EE7B7; }
}

.correct-answer {
    animation: correctAnswer 0.5s forwards;
}

/* Animation for Incorrect Answer */
@keyframes incorrectAnswer {
    0% { background-color: #EF4444; }
    100% { background-color: #FCA5A5; }
}

.incorrect-answer {
    animation: incorrectAnswer 0.5s forwards;
}
